<ion-content [fullscreen]="true">
  <ion-slides #slides>
    <ion-slide *ngIf="boolInfos == false">
      <p class="ver" *ngIf="boolInfos == false">LOADING</p>
    </ion-slide>
    <ion-slide>
      <div class="profile">
        <ion-card>
          <p class="pname" *ngIf="boolInfos == true">
            {{playerInfo.playerName}}
          </p>
          <p class="pid" *ngIf="boolInfos == true">
            ID: {{playerInfo.playerId}}
          </p>
        </ion-card>
        
        
        <ion-card>
          <p class="pue1" *ngIf="boolInfos == true">Player Ranking:</p>
          <p *ngIf="boolInfos == true">
            #{{playerInfo.rank}} - ( {{playerInfo.country}}
            #{{playerInfo.countryRank}} )
          </p>

          <p class="pue2" *ngIf="boolInfos == true">Performance Points:</p>
          <p *ngIf="boolInfos == true">{{playerInfo.pp}}pp</p>

          <ion-item class="idinput" *ngIf="boolInfos == true">
            <ion-label position="floating"></ion-label>
            <ion-input type="text" name="inputid" [(ngModel)]="pid"></ion-input>
          </ion-item>
          
          <ion-button
          *ngIf="boolInfos == true"
          (click)="penisklatsche(pid)"
          class="snu"
          >Search / REFRESH</ion-button
          >
          <ion-button class="tops" *ngIf="boolInfos == true" (click)="addFavToFirebase()">SET DEFAULT</ion-button>
        </ion-card>
        <ion-card id="neff">
          <canvas
            *ngIf="boolInfos == true"
            baseChart
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [colors]="chartColors"
            [legend]="showLegend"
            [chartType]="chartType"
          >
          </canvas>
        </ion-card>
        <ion-button class="tops" *ngIf="boolInfos == true" (click)="bestScores(pid)">TOP SCORES</ion-button>
        <ion-button class="recents" *ngIf="boolInfos == true" (click)="recentScores(pid)">RECENT SCORES</ion-button>
        
          <ion-card
          class="scores"
          *ngFor="let entry of scoresInfo"
          style="margin-bottom: 15px"
        >
          <p class="pscores">#{{entry.rank}} | {{entry.songName}} - {{entry.songAuthorName}}</p>
          <p class="ps2" style="float: left;">{{entry.pp.toFixed(2)}}pp</p>
          <p class="ps3" style="float: left;">({{(entry.weight * entry.pp).toFixed(2)}}pp)</p>
          <p class="ps4" style="float: right;">acc: {{((entry.score / entry.maxScore) * 100).toFixed(2)}}%</p>
          </ion-card>
        
        <p *ngIf="boolInfos == true" class="ver">version {{version}} - {{cusername}}</p>
      </div>
    </ion-slide>
    <ion-slide class="profiles">
      <div id="saves">
        <ion-card
          class="savedEntry"
          *ngFor="let entry of myentries"
          style="margin-bottom: 15px"
        >
          <ion-item-sliding>
            <ion-item
              (click)="loadEntry(entry.ID)"
              (click)="swipe()"
              style="
                border: none;
                width: 100%;
                display: block;
                align-items: center;
                --padding-start: 0;
              "
            >
              <ion-label class="sName">{{ entry.Name }}</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="deleteItem(entry)"
                ><ion-icon
                  name="trash"
                  slot="icon-only"
                  style="padding-left: 25px"
                ></ion-icon
              ></ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-card>

        <ion-button class="logout" (click)="logout()">LOGOUT</ion-button>
        

        <p class="ver" *ngIf="boolInfos == true" >version {{version}} - {{cusername}}</p>

      </div>
    </ion-slide>
  </ion-slides>
</ion-content>